<% include includes/header %>

<div class="container-fluid test2">
 
</div>

<div id="event" class="container-fluid">
  <div class = "row">
    <div class="col-sm-5 bg-posts">
      <form class="blastForm" action="/post" method="POST">
        <div class="form-group">
          <label><h2>Title</h2></label>
          <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
          <label>Subject</label>
          <textarea type="text" id="subject" class="form-control" name="subject"></textarea>
        </div>
          <button type="submit" class="blast btn btn-warning btn-lg">Post New Blast</button>
      </form>

      <div class= "post">
        <% for(var i=0; i< blasts.length; i++) { %>
        <div class="blasts">
            <h3><%= blasts[i].title %></h3>
            <h4 class="textFont"><%= blasts[i].subject %></h4>
            <p class="textFont">Author: <%= blasts[i].author %>  
              <span class="date textFont">Date: <%= blasts[i].date %></span></p>
          <div class="comments"> 
              <h4>Comments:</h4>
              <% for(var j=0; j< blasts[i].comments.length; j++) { %>
                <div class="comment textFont">
                  <h5><%= comments[blasts[i].comments[j]].subject %></h5>
                  <p><%= comments[blasts[i].comments[j]].author %>
               <a href="/post/delete?id=<%=comments[blasts[i].comments[j]]._id%>">delete</a></p>
                </div>
               </form>
              <% } %>
          </div>
          
          <form class="form-inline" action="/comment" method="POST">
            <div class="form-group col-sm-8">
              <input type="hidden" name="blast_id" value=" <%=blasts[i]._id%> ">
              <input type="hidden" name="name">
              <input type="text" id="input" class="form-control input-sm " name="comment">
            </div>
            <div>
              <button type="submit" class="btn btn-warning btn-sm">Comment</button>
            </div>
           </form>
        </div>
        <% } %>
      </div>
   </div>

<!-- // beginning of Google Places Api // -->
   <div class="col-sm-5 col-md-offset-1 bg-posts">

       <form action='/post/places' method="POST" class="g-api-form blasts">
          <h1>Yoga Studios</h1>
          <input type="text" id="input" class="form-control input-sm" placeholder="Location" name="location">
          <button type="submit" class='btn btn-warning'>Search</button>
      </form>
      <% if (results) { %>
      <div class="gApi-results"> 
        <% for (var i = 0; i < results.length; i++) { %>
        <div class="row">
          <div class="col-sm-3 greedy"><br>
          <% if (results[i].photo !== undefined ) { %>
              <img class="img-responsive" src="<%=results[i].photoRef%>">
              <%} else { %> 
              <img class="img-responsive" src="/images/no-image.png">
              <% } %>
          </div>
          <div class='col-sm-8 blasts'>
            <h2> <%= results[i].name %> </h2> 
            <div class="textFont"> Studio Location <%= results[i].address %> </div>
            <div class="textFont"> Studio Rating <%= results[i].rating %> </div>
            <div class="textFont"><a href="http://maps.google.com/maps?daddr= <%=results[i].address %>"><h5>Directions</h5></a></div>
          </div>
        </div>
         <% } %>
         <% } %>
      </div>
  </div>
</div>
</div>

<% include includes/footer %>