<% include includes/header %>
<body>
<div class="container test">

    <div class="page-header text-center">
        <h1>Profile Page</h1>
<!--         <a href="/logout" class="btn btn-default btn-sm">Logout</a>
 -->    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p><strong>id</strong>:<%= user._id %></p>
                <p><strong>email</strong>:<%= user.local.email %></p>
                <p><strong>Name</strong>:<%= user.local.name %></p>
                <p><strong>About Me</strong>:<%= user.local.aboutMe %>
                
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-facebook"></span> Facebook</h3>

                    <p><strong>id</strong>: <%= user._id %></p>
                    <p><strong>email</strong>: <%= user.facebook.email %></p>
                    <p><strong>name</strong>: <%= user.facebook.name %> </p>
                    

            </div>
        </div>

    </div>
    </div>
    <div class="container">
    <div class='row'>
         <form action="/profile" method="POST">
           
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" value="<%= user.local.name%>">
            </div>
            <div class="form-group">
                <label>About Me</label>
                <input type="test" class="form-control" name="aboutMe" value="<%= user.local.aboutMe%>">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Sumbit Changes</button>
         </form>
    </div>

</div>

<% include includes/footer %>