
<% include includes/header %>
<div class="container-fluid test">

    <div class="page-header text-center">
        <h1>Profile</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-8">
            <div class="well">
                <!-- <h3><span class="fa fa-user"></span> Local</h3> -->
                
                <!-- <p><strong>id</strong>:<%= user._id %></p> -->
                <% if(user.local.email){ %>
                    <p><strong>Email</strong>: <%= user.local.email %></p>
                <% }else if(user.facebook.email !== null) { %>
                    <p><strong>Email</strong>: <%= user.facebook.email %></p>
                    <% } %>
                <p><strong>Name</strong>: <%= user.local.name %></p>
                <p class="textFont"><strong>About Me</strong>: <%= user.local.aboutMe %></p>


            <div class="container">
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal">Update Profile</button>

                  <!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Profile Update</h4>
                        </div>
                        <div class="modal-body">
                             <form class="col-sm-8" action="/profile" method="POST"> 
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" value="<%= user.local.name%>">
                                </div>
                                <div class="form-group">
                                    <label>About Me</label>
                                    <input type="text" class="form-control" name="aboutMe" value="<%= user.local.aboutMe%>">
                                </div>
                                <button type="submit" class="btn btn-warning btn-lg">Update Profile</button>
                             </form>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

  <!-- beginning of Events -->

      <div class="container ">
        <div class="row">
          <div class="col-md-4 greedy">
            <form action="/event/id" method="GET">
              <button type="submit " class="cushion btn btn-warning btn-lg form-control">My Events</button>
            </form>
          </div>
          <div class="col-md-4 greedy">
            <form action="/profile" method="GET">
              <button type="submit " class="btn btn-warning btn-lg form-control">All Events</button>
            </form>
          </div>
          <div class="col-md-4 greedy">
            <form class="form-inline" action="/event/search" method="GET" >
              <input type="search" class="form-control" name="search" placeholder="Search Events">
              <button type="submit" class="btn btn-warning "><i class="glyphicon glyphicon-search"></i></button>
            </form>
          </div>
        </div>
      </div>


      <div class='container greedy'>
          <!-- Trigger the modal with a button -->
          <div></div>
          <!-- Modal -->
          <div class="modal fade" id="event" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Create New Event</h4>
                </div>
                <div class="modal-body">
                    <form class="col-sm-8" action="/event" method="POST">
                     <div class="form-group">
                        <label>Classes or Events</label>
                        <input type="text" class="form-control" name="eventName">
                    </div>
                    <div class="form-group">
                        <label>Date and Time</label>
                        <input type="text" class="form-control" name="date">
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control" name="location" >
                    </div>
                    <div class="form-group">
                        <label>About</label>
                        <input type="text" class="form-control" name="about">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="userId">
                    </div>
                    <div class="form-group">
                        <label>Image Url</label>
                        <input type="text" class="form-control" name="imageUrl" value="http://">
                    </div>
                        <button type="submit" class="btn btn-warning btn-lg">Create Event</button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
                </div>
            </div>
          </div>
        </div>
       
<!--     beginning of repeated events-->    
 <div class="container">
        <div class="row">
        <button type="button" class="btn btn-warning btn-lg post" data-toggle="modal" data-target="#event">Create New Event</button>
        <section id="pinBoot"> 
            <h2></h2>
            <% for(var i=0; i < event.length; i++) {%> 
            <h2></h2> <!-- this <h2>has to stay to keep the plugin set up correctly -->
            <hr>
            
          <article class="white-panel" ><img src="<%=event[i].imageUrl %>">
            <h4 class="sign text-center"><%= event[i].eventName %></h4>
            <h4><%= event[i].location %></h4>
            <h5 class="textFont"><span><%= event[i].date %></span></h5>
            <p class="textFont"><%= event[i].about %></p>
            <h5><span>Created By: <%= event[i].createdBy %></span></h5>
              <% if (user.local.name === event[i].createdBy) {%>
               <form action="/event/:id" method="POST">
               <p><button type="submit" class="form-control btn-sm">delete</button></p>
               <input type="hidden" class="form-control" name="eventId" value="<%=event[i]._id%>">
               </form><% } %>
          </article>
      <% } %>
        </section>
    </div>
    <hr>
  </div>
   

<% include includes/footer %>